<%- include('_header') %>

<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-xl-3 col-lg-2 col-md-1 col-sm-12 col-12"></div>
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="info" style="padding-bottom: 20px;">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="<%= ViewData.image%>" style="max-width: 150px; width: 150px; height: 150px; border-radius: 100px; border: 2px solid #000000;" alt="Profile Image" >
                    </div>
                    <div class="col-12" style="padding-top: 30px;">
                        <p style="padding: 5px; background-color: #f2f2f2; margin-bottom: 5px; border-bottom: 1px solid #000000;"><b>Name:</b> <%= ViewData.name%></p>
                        <p style="padding: 5px; background-color: #f2f2f2; margin-bottom: 5px; border-bottom: 1px solid #000000;"><b>Email:</b> <%= ViewData.email%></p>
                        <p style="padding: 5px; background-color: #f2f2f2; margin-bottom: 5px; border-bottom: 1px solid #000000;"><b>Phone:</b> <%= ViewData.phone%></p>
                        <p style="padding: 5px; background-color: #f2f2f2; margin-bottom: 5px; border-bottom: 1px solid #000000;"><b>Gender:</b> <%= ViewData.gender%></p>
                        <p style="padding: 5px; background-color: #f2f2f2; margin-bottom: 20px; border-bottom: 1px solid #000000;"><b>Date Of Birth:</b> <%= ViewData.dobDate%></p>
                        <button type="button" class="btn Delete btn-danger">Delete your account</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-1 col-sm-12 col-12"></div>
    </div>
</div>

<script src="/js/delete.js"></script>
<%- include('_footer') %>
